<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/index.css">

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/RiotService.js"></script>
        <script src="app/MainController.js"></script>
        <script src="app/items/ItemsController.js"></script>
        <script src="app/mastery/MasteryController.js"></script>

        <script src=""></script>
    </head>
    <body ng-app="app" ng-controller="MainController">
        <nav class="navbar navbar-default navbar-custom1">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Project: Bace</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="server in servers" data-toggle="modal" data-target="#myModal"><a href="" ng-click="checkStatus(server.real)">{{server.real}}</a></li>
                            </ul>
                        </li>
                        <li><a href="#/items">Items</a></li>
                        <li><a href="#/champion-mastery">Champion Mastery</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control no-outline no-radius focus-border" placeholder="Summoner.." ng-model="RiotVM.summoner">
                        </div>
                        <div class="dropdown form-group">
                            <button id="btnServer" type="button" class="btn btn-warning dropdown-toggle no-outline width-70 no-radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-bind="RiotVM.server + ' '"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="server in servers" ng-click="changeServer(server.real)"><a href="">{{server.real}}</a></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <button id="btnSearch" type="submit" class="btn no-outline btn-success no-radius btn-fix-border" ng-click="getInfo(RiotVM.server, RiotVM.summoner)">Search</button>
                        </div>
                    </form>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <section class="container margin-top-20" ng-view></section>
    </body>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{serverStatus.name}}</h4>
                </div>
                <div class="modal-body">
                    <!--<pre>{{serverStatus | json}}</pre>-->
                    <h3 ng-repeat="service in serverStatus.services" ng-class="service.status == 'online' ? 'text-green' : 'text-red'">{{service.name}} - {{service.status}}</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" ng-click="checkStatus(server)">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</html>