<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/index.css">

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/RiotService.js"></script>
        <script src="app/TestController.js"></script>
        <script src="app/items/ItemsController.js"></script>

        <script src=""></script>
    </head>
    <body ng-app="app" ng-controller="TestController">
        <nav class="navbar navbar-default navbar-custom1">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Project: Bace</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/items">Items</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control no-outline no-radius focus-border" placeholder="Summoner.." ng-model="RiotVM.summoner">
                        </div>
                        <div class="dropdown form-group">
                            <button id="btnServer" type="button" class="btn btn-warning dropdown-toggle no-outline width-70 no-radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-bind="RiotVM.server + ' '"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="server in servers" ng-click="changeServer(server)"><a href="">{{server | uppercase}}</a></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <button id="btnSearch" type="submit" class="btn no-outline btn-success no-radius btn-fix-border" ng-click="getInfo(RiotVM.server, RiotVM.summoner)">Search</button>
                        </div>
                    </form>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <section class="container margin-top-20" ng-view>
            <section ng-if="loading" class="wrapper">
                <div class="spinner">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </section>
            <div ng-if="summoner">
                <!--<pre>{{info | json}}</pre>-->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
                    <li><a data-toggle="tab" href="#runes" ng-click="getRunes(RiotVM.server, summoner.id)">Runes</a></li>
                    <li><a data-toggle="tab" href="#masteries">Masteries</a></li>
                </ul>
                <div class="tab-content padding-20 border-custom1">
                    <div id="profile" class="tab-pane fade in active">
                        <img ng-src="{{iconLink(summoner.profileIconId)}}" alt="icon" class="img-thumbnail">
                        <h1>Name: <small>{{summoner.name}}</small></h1>
                        <h2>Id: <small>{{summoner.id}}</small></h2>
                        <h2>Level: <small>{{summoner.summonerLevel}}</small></h2>
                        <h2>Last modified: <small>{{summoner.revisionDate | date}}</small></h2>
                    </div>
                    <div id="runes" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="masteries" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div>
            </div>
            <h1 class="text-center"  ng-if="error">{{error}}</h1>
        </section>
    </body>
</html>